<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/offline">
<head>
    <meta charset="utf-8"/>
    <title>Register | JF</title>
</head>
<body>
<main layout:fragment="content">
    <article class="container" style="padding-top: 3%;">
        <header class="row">
            <div class="col s12">
                <h3 class="center">Գրանցում</h3>
                <h5 class="center">Գրանվել ծրագրավորման ֆորումում</h5>
            </div>
        </header>
        <section>
            <form th:action="@{/register}" method="post">
                <div class="row">
                    <div class="col s12">
                        <label> Կեղծանուն:
                            <input type="text" name="username" minlength="3" maxlength="10" data-length="10"
                                   required="required"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label> Էլեկտրոնային հասցե:
                            <input type="email" name="mail" minlength="10" maxlength="50" data-length="40"
                                   required="required"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label> Գաղտնաբառ:
                            <input type="password" name="password" minlength="8" maxlength="15" data-length="15"
                                   id="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Պետք է պարունակի գոնե մեկ մեծատառ և մեկ թվանշան, և 8 կամ ավել նիշ"
                                   required="required"/>
                        </label>
                        <style>
                            em {
                                font-weight: 300;
                            }
                        </style>
                        <em>Պետք է պարունակի գոնե մեկ մեծատառ և մեկ թվանշան, և 8 կամ ավել նիշ</em>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label> Նկարագրություն:
                            <input type="text" name="introduction" maxlength="16" data-length="16"
                                   placeholder="[optional]"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <p class="center">Գրանցման հաջող ավարտի դեպքում կբացվի մուտքի էջը</p>
                        <p class="center">Հակառակ դեպքում փոխեք Ձեր մուտքանունը</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light btn-large" type="submit" name="register">Գրանցվել
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </article>
</main>
</body>
</html>